ament_index_python==1.8.1
colorednoise==2.2.0
control_msgs==5.5.0
geometry_msgs==5.3.6
gym==0.26.2
gymnasium==1.1.1
ikpy==3.4.2
launch==3.4.9
launch_ros==0.26.10
matplotlib==3.6.3
moveit==2.12.3
moveit_configs_utils==2.12.3
moveit_msgs==2.6.0
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
pyvista==0.46.1
PyYAML==6.0.2
PyYAML==6.0.1
PyYAML==6.0.3
rclpy==7.1.6
scipy==1.17.1
sensor_msgs==5.3.6
std_msgs==5.3.6
std_srvs==5.3.6
sympy==1.14.0
sympy==1.12
torch==2.7.1
trajectory_msgs==5.3.6
trimesh==4.7.1
urchin==0.0.29
